<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <p>
    	<%= link_to restaurant.name, restaurant_path(restaurant) %> 
    	<span><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %> - </span>
    	<span><%= link_to "Delete", restaurant_path(restaurant), method: :delete %> - </span>
    	<span><%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %></span>
    </p>
		<% if restaurant.reviews.any? %>
    	<h3>Reviews:</h3>
		  <ul>
		  <% restaurant.reviews.each do |r| %>
		    <li><%= r.thoughts %></li>
		  <% end %>
		  </ul>
		<% else %>
			<p>No reviews for <%= restaurant.name %> yet. Be the first one!</p>
		<% end %>	
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<a href="/restaurants/new">Add a restaurant</a>
<h1><%ENV["APP_ID"]%></h1>