<% if @restaurant.errors.any? %>
	<section id='errors'>
		<h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
		<ul>
			<% @restaurant.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</section>
	<br>
<% end %>

<%= form_for @restaurant do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :description %><br>
  <%= f.text_field :description %><br>
  <br>
  <%= f.submit %>
<% end %>